<script type="text/javascript">
jQuery(document).ready(function($) {
      //$('.datepicker').datepicker();
      $('.money').maskMoney({ allowZero: false, allowNegative:false});
      $('.six-digit').maskMoney({ precision: 0, allowNegative:false});

/*var options = {
        target:        '#form_results',
        success: handleSave
    };

  $('#addtoquote').click(function(event) {
    $('#ajax_submit').val("1");
    $('#search_form').ajaxSubmit(options);
    event.preventDefault();
  });*/


});
</script>

<script type="text/javascript">

var options = {
        target:  '#form_results',
        success: showResponse
    };

function saveQuote()
{
  jQuery('#ajax_submit').val("1");
  jQuery('#search_form').ajaxSubmit(options);
}

function showResponse(responseText, statusText, xhr, $form)  {
  var scope = angular.element(jQuery(".message")).scope();
  scope.$apply(function(){
    scope.data.status_message = responseText;
  });

  jQuery('.user_input').each(function(index) {
    jQuery(this).val('');
  });
}

/*function handleSave() {
  console.log('here');
  window.update_status('Product added to quote');
  jQuery('.user_input').each(function(index) {
    jQuery(this).val();
  });
}*/
/*bUnsavedChanges = false;
window.onbeforeunload = function(){
    if(bUnsavedChanges){
        return 'Leaving this page will cause any unsaved changes to your quote to be lost.';
    }
};

jQuery(document).ready(function () {
  jQuery('#copy input').change(function () {
    bUnsavedChanges = true;
  });
});*/


</script>

<p class="breadcrumb">
  <span><a ng-click="fn.redirect('/');" style="cursor:pointer;">Part Number Builder</a></span>
  <span ng-repeat="breadcrumb in data.breadcrumbs">&nbsp;>>&nbsp;{{breadcrumb}}</span>
</p>

<p class="message">
{{data.status_message}}
</p>

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
  <th ng-repeat="column in table.columns" ng-show="column.visible == true" ng-bind-html="column.label">{{column.label}}</th>
</tr>
<tr>
  <!-- <td>{{data.part_number}}<br><a ng-click="fn.editPartNumber();">Edit</a></td> -->
  <td ng-repeat="column in table.columns" ng-show="column.visible == true">
    <div ng-if="column.data.length > 1">
      <div ng-switch on="column.input_type">
        <div ng-switch-when="static">
        <div style="text-align:center;">{{data.static_part_field[column.key].data}}</div>
        <div ng-show="data.static_part_field[column.key].showedit"><a ng-click="fn.editInsertPattern();" style="cursor:pointer;">Edit</a></div>
        </div>
        <div ng-switch-default>
      <select name="{{column.key}}" ng-change="fn.select_update(column.key);" ng-disabled="column.disabled" ng-model="data.part_number[column.key]" ng-class="[column.key]">
        <option value="" selected>Choose...</option>
        <option select-option ng-repeat="data in column.data" data="data">{{data}}</option>
        <!-- <option ng-repeat="data in column.data" value="{{data}}"><span option-label data="data"></span></option> -->
      </select>
        </div>
      </div>
    </div>
    <div ng-if="column.data.length <= 1">
      <div ng-switch on="column.input_type">
      <div ng-switch-when="select">
        <select name="{{column.key}}" ng-change="fn.select_update(column.key);" ng-disabled="column.disabled" ng-model="data.part_number[column.key]">
          <option value="">Choose...</option>
          <option select-option ng-repeat="data in column.data" data="data">{{data}}</option>
          <!-- <option select-option ng-repeat="data in column.data" data="data"></option> -->
          <!-- <option ng-repeat="data in column.data" value="{{data}}"><span option-label data="data"></span></option> -->
        </select>
      </div>
      <div ng-switch-when="static">
        <div style="text-align:center;">{{data.static_part_field[column.key].data}}</div>
        <div ng-show="data.static_part_field[column.key].showedit"><a ng-click="fn.editInsertPattern();" style="cursor:pointer;">Edit</a></div>
      </div>
      <div ng-switch-default>
        <div ng-repeat="data in column.data" style="text-align:center;">{{data}}</div>
      </div>
      </div>
    </div>
  </td>
</tr>
</table>

<div ng-show="table.show_error == true">
The part number combination you choose is not valid.  Please modify your selection.
</div>

<form method="post" action="/wpaeroflite/products/search-results" id="search_form" ng-show="table.show_form == true">
<!-- <form id="search_form" ng-show="table.show_form == true"> -->
  <input type="hidden" name="add_to_quote" value="1">
  <input type="hidden" name="ajax_submit" id="ajax_submit" value="0">
  <!-- <input type="hidden" name="number" value="{{data.final_part_number}}"> -->
  <input type="hidden" name="number" value="{{quote.base_part}}">
  <input type="hidden" name="manufacturer" value="all">
  <input type="hidden" name="search_page" value="1">
  <input type="hidden" name="quote[1000000][product_id]" value="{{quote.product_id}}">
  <input type="hidden" name="quote[1000000][add]" value="1">

  <div id="form_results" style="font-weight:bold;  padding: 5px; color: #FF0000; display:none;"></div>
    <table class="search-results">
    <thead>
      <tr>
        <!-- <th class="partNum">Part Number</th> -->
        <!-- <th>Manufacturer</th> -->
        <!-- <th class="description">Description</th> -->
        <th class="small">Unit</th>
        <th class="qty">Qty</th>
        <th class="med">Target Price</th>
        <th class="req_date">Required Date</th>
        <th class="comments">Comments</th>
        <!-- <th class="last">Add to Quote</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
      <!-- <td><input type="hidden" name="quote[1000000][product_id]" value="{{data.final_part_number}}">{{data.final_part_number}}</td> -->
      <!-- <td><input type="hidden" name="quote[1000000][product_id]" value="{{quote.product_id}}">{{data.final_part_number}}</td> -->
      <!-- <td>Glenair</td>
      <td class="description"><span>NUT</span></td> -->
      <td><input class="two-digit user_input" type="text" ng-model="quote.unit" name="quote[1000000][unit]" value="{{quote.unit}}"></td>
      <td><input class="six-digit user_input" type="text" ng-model="quote.quantity" name="quote[1000000][quantity]" value="{{quote.quantity}}"></td>
      <td><input class="money user_input" type="text" ng-model="quote.target_price" name="quote[1000000][target_price]" value="{{quote.target_price}}"></td>
      <td class="req_date"><input type="text" class="datepicker user_input" datepicker ng-model="quote.required_date" name="quote[1000000][required_date]" value="{{quote.required_date}}"></td>
      <td class="comments"><input type="text user_input" ng-model="quote.comments" name="quote[1000000][comments]" value="{{quote.comments}}"></td>
      <!-- <td class="last" align="center"><input type="hidden" name="quote[1000000][add]" value="1"></td> -->
      </tr>
    </tbody>
    <tfoot>
      <tr><td colspan="6"><button id="addtoquote"  onclick="saveQuote(); return false;">Add to Quote</button></td></tr>
    </tfoot>
  </table>
</form>

<div ng-bind-html="data.descriptive_template">{{data.descriptive_template}}</div>

